<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tony</title>
	<meta name="Author" content=""/>
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css">
	
	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
<div id="start"></div>
<div id="nav">
    <div class="wrapper"> 
        <div class="navbar-header"> 
            <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button"> 
                <span class="sr-only">Toggle navigation</span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
            </button> 
            <a href="#start" class="navbar-brand page-scroll"><span class="logo">{{sitename}}</span></a>
        </div> 
        <nav class="collapse navbar-collapse" id="bs-navbar"> 
            <!--<ul class="nav navbar-nav"> 
                <li> <a href="#">Menu 1</a> </li> 
            </ul> -->
            <ul class="nav navbar-nav navbar-right"> 
                <li v-for="mlist in menulist"><a href="{{mlist.url}}" class="page-scroll {{mlist.classs}}">{{mlist.name}}</a></li>
            </ul> 
        </nav> 
    </div>
</div>

<header class="hero">
    
    <div class="hero-bg"></div>
    <div class="hero-bg-filter"></div>

    <div class="hero-content">
        <h1 class="site-title">
            <div class="site-name">Tony López Pagán </div>
            <div class="site-summary">Consultor, Estratega y Programador Web en Puerto Rico</div>
        </h1>
    </div>
    
    <div class="go-next">
       <div class="circle">
			<div id="fill" class="circle-in"></div>
			<a href="#" class="vtxt"><span class="glyphicons glyphicon-chevron-down"></span></a>
			<a href="#hero-section-view" class="page-scroll"> <span class="glyphicons glyphicon-triangle-bottom"></span>  </a>
		</div>
    </div>
</header>

<section id="hero-section">
    <div class="wrapper">
        <div id="hero-section-view"></div>
        
        <h2 class="h2">"Soy un Programador Web enfocado en el desarrollo para agencias, startups y PYMES.  Mi trabajo es una mezcla de consultoría, estrategia y ejecución. Mi objetivo ser la pieza fundamental entre la idea y el resultado."</h2>
        
    </div>
    
    <div class="go-next-triangle spin">
        <a href="#first-section-view" class="page-scroll">
           <div class="go-next-triangle-in"></div>
        </a>
    </div>
</section>

<section id="first-section">
    <div class="wrapper">
        <div id="first-section-view"></div>
        
        <div class="row">
           <div class="container-fluid">               
                    
                <h3 class="h3">Proyectos</h3>
                
           </div>
        </div>
        
        <div class="row">
           <div class="container-fluid">               
                <div class="col-sm-6 text-center" v-for="column in columns">{{column.text}}</div>
           </div>
        </div>
    </div>
    
    <a href="#prelast-section-view" class="page-scroll">
       <div class="go-next-square spin"></div>
    </a>
</section>

<section id="prelast-section">
    <div class="wrapper">
        <div id="prelast-section-view"></div>
        
        <div class="row">
           <div class="container-fluid">               
                    
                <h3 class="h3">¿En Qué Desarrollo?</h3>
                
           </div>
        </div>
        
        <div class="row">
           <div class="container-fluid">               
                <div class="col-sm-6 text-center" v-for="column in columns">{{column.text}}</div>
           </div>
        </div>
    </div>
    
    <a href="#last-section-view" class="page-scroll">
        <div class="go-next-hexagon spin"></div>
    </a>
</section>

<section>
    <div class="wrapper">
        <div class="section-view"></div>
        
        <div class="row">
           <div class="container-fluid">               
                    
                <h3 class="h3">Mi Expertise</h3>
                
           </div>
        </div>
        
        <div class="row">
           <div class="container-fluid">               
                <div class="col-sm-6 text-center" v-for="column in columns">{{column.text}}</div>
           </div>
        </div>
    </div>
    
    <a href="#last-section-view" class="page-scroll">
        <div class="go-next-hexagon spin"></div>
    </a>
</section>

<section>
    <div class="wrapper">
        <div class="section-view"></div>
        
        <div class="row">
           <div class="container-fluid">               
                    
                <h3 class="h3">¿Quién Soy?</h3>
                
           </div>
        </div>
        
        <div class="row">
           <div class="container-fluid">               
                <div class="col-sm-6 text-center" v-for="column in columns">{{column.text}}</div>
           </div>
        </div>
    </div>
    
    <a href="#last-section-view" class="page-scroll">
        <div class="go-next-hexagon spin"></div>
    </a>
</section>

<section id="last-section">
    <div class="wrapper">
        <div id="last-section-view"></div>
        
        <div class="row">
           <div class="container-fluid">               
                <div class="col-sm-8">
                    <h3 class="h3">¡Vamos a Tomarnos un Café!</h3>                    
                </div>       
                       
                <div class="col-sm-4">
                    <h3 class="h3">Mi Ubicación</h3>                    
                </div>
                
           </div>
        </div>
        
        <div class="row">
           <div class="container-fluid">               
                <div class="col-sm-6 text-center" v-for="column in columns">{{column.text}}</div>
           </div>
        </div>
    </div>
</section>

<!-- SCRIPTS -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery-easing/jquery.easing.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/vue/dist/vue.min.js"></script>
<script src="bower_components/retinajs/dist/retina.min.js"></script>

<!-- CUSTOM SCRIPTS -->
<script src="assets/js/app.js"></script>
<script src="assets/js/animation.js"></script>
<script src="assets/js/interaction.js"></script>
</body>
</html>
