<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tony</title>
	<meta name="Author" content=""/>
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css">
</head>
<body>
<div id="start"></div>
<div id="nav">
    <div class="wrapper"> 
        <div class="navbar-header"> 
            <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button"> 
                <span class="sr-only">Toggle navigation</span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
            </button> 
            <a href="#start" class="navbar-brand page-scroll"><span class="logo">{{sitename}}</span></a>
        </div> 
        <nav class="collapse navbar-collapse" id="bs-navbar"> 
            <!--<ul class="nav navbar-nav"> 
                <li> <a href="#">Menu 1</a> </li> 
            </ul> -->
            <ul class="nav navbar-nav navbar-right"> 
                <li v-for="mlist in menulist"><a href="{{mlist.url}}" class="page-scroll {{mlist.classs}}">{{mlist.name}}</a></li>
            </ul> 
        </nav> 
    </div>
</div>

<header class="hero">
    
    <div class="hero-bg"></div>

    <div class="hero-content">
        <h1 class="site-title">
            <div class="site-name">Tony López Pagán</div>
            <div class="site-summary">Consultor / Estratega Digital / Programador Web • Puerto Rico</div>
        </h1>
    </div>
    
    <div class="go-next">
        <a href="#hero-section" class="page-scroll"><span class="glyphicons glyphicon-chevron-down"></span></a>
    </div>
</header>

<section id="hero-section">
    <div class="wrapper">
        <div id="hero-section-view"></div>
    </div>
    
    <div class="go-next-triangle">
        <a href="#square" class="page-scroll"><i class="fa fa-code" style="font-size:24px"></i></a>
    </div>
</section>

<section id="first-section">
    <div class="wrapper">
        <div id="first-section-view"></div>
        <div class="row">
           <div class="container">               
                <div class="col-sm-3" v-for="column in columns">{{column.text}}</div>
           </div>
        </div>
    </div>
    
    <div class="go-next-square">
        <a href="#last" class="page-scroll"><i class="fa fa-code" style="font-size:24px"></i></a>
    </div>
</section>

<section id="last-section">
    <div class="wrapper">
        <div id="last-section-view"></div>
        <div class="row">
           <div class="container">               
                <div class="col-sm-3" v-for="column in columns">{{column.text}}</div>
           </div>
        </div>
    </div>
</section>

<script src="../node_modules/vue/dist/vue.min.js"></script>
<script src="assets/js/app.js"></script>

<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<script src="assets/js/bootstrap.min.js"></script>
<script src="./assets/js/retina.min.js"></script>
<script src="assets/js/animation.js"></script>
<script src="assets/js/interaction.js"></script>
</body>
</html>
